body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
button{
    border:2px solid lightsalmon;
    color: lightsalmon;
    width: 130px;
    height: 60px;
    background-color: black;
    font-size: 1.5rem;
    padding: 2px;
    transition: 200ms;
}
button:hover{
    transform: translateY(-10px);
    color: white;
    border: 2px solid rgb(255, 255, 119);
    box-shadow: 0 8px 8px -4px rgb(255, 255, 119);
}